/* Preview style updates */

#emailSection {
  border: solid 1px black;
  .container{
    border: solid thin black;
  }

  table {
    .row {
      padding: 5px !important;
      margin: 0;

      .container {
        .row {
          display: block !important;
          }
      }
    }
  }
}


