doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
    title Email Title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    // build:css css/tidy.css
    link(rel='stylesheet', href='css/ink.css')
    link(rel='stylesheet', href='css/temp-style.css')
    // /build

body
    table.body(border="0", cellpadding="0", cellspacing="0", align="center", width="100%")
        tr
            td.center(align='center', valign='top')
                center
                    // Email Content
