// Preheader
td.wrapper
    table.six.columns
        tr
            td
                table.subjectLine(border='0', cellspacing='0', cellpadding='0', width='300', align='left')
                    tbody
                        tr
                            td
                                span.preHeader {{preHeader}}
td.wrapper.last
    table.six.colums
        tr
            td
                table.HTMLview(border='0', cellspacing='0', cellpadding='0', width='300', align='right')
                    tbody
                        tr
                            td#outlook(align='right')
                                a(href='{{HTMLview}}', target='_blank') {{TEXTview}}
