doctype html
html(lang="en")
    head
        title Client Side Email Builder
        meta(name="Author" content="Mark Onofrio")
        script(src='js/jquery.min.js' defer)
        script(src='js/bootstrap.min.js' defer)

        link(href="css/bootstrap.min.css", type="text/css", rel="stylesheet")
        link(href='css/style.css', type='text/css', rel='stylesheet')
    body
        div.container-fluid
            section.row
                header.col-xs-12
                    h1 Client Side Email Builder